/* Estilos para el botón flotante de WhatsApp */
.float-whatsapp {
    position: fixed;
    width: 240px;
    height: 70px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 25px;
    text-align: center;
    box-shadow: 7px 7px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 1000;
    text-decoration: none;
}

.float-whatsapp:hover {
    background-color: white;
    color: #25d366;
    text-decoration: none;
    font-size: 19px;
    border-color: dimgray;
}

.float-whatsapp i {
    font-size: 24px;
    margin-right: 10px;
}

/* Línea de firma en el aviso de privacidad */
.signature-line {
    width: 300px;
    border: 1px solid black;
    margin: 100px auto 0 auto;
}

/* Estilos generales */
body {
    padding-top: 56px;
}

.no-underline {
    text-decoration: none;
}

/* Estilos adicionales para responsividad */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .footer {
        text-align: center;
    }
}

/* Estilo para indicador de carga */
.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* Asegúrate de que esté por encima de otros elementos */
}